#headerType2{position: relative; height: 5.6rem; width: 100%; }
#headerType2>div{height: 5.6rem; width: 100%;}
#headerType2>div>p{text-align: center; font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 5.6rem; color: #222;}
#headerType2>div>.headerIcoWrap{ width: 100%; position: absolute; top: 50%; transform: translateY(-50%); /* display: flex; */ /* justify-content: space-between; */}
#headerType2>div>.headerIcoWrap>a{display: inline-block; width: 2.4rem; height: 2.4rem;}
#headerType2>div>.headerIcoWrap>a.ico_left_arrow{background: url(../img/ic-arrow-left.png) no-repeat center; margin-left: 2rem;}
#headerType2>div>.headerIcoWrap>.headerIco{display: flex; float: right; margin-right: 2rem;}
#headerType2>div>.headerIcoWrap>.headerIco>a{display: block; width: 2.4rem; height: 2.4rem;}
#headerType2>div>.headerIcoWrap>.headerIco>a.icoSearch{background: url(../img/search_bk.png) no-repeat center;}
#headerType2>div>.headerIcoWrap>.headerIco>a.icoAlarm{ background: url(../img/alarm_bk.png) no-repeat center;}
#headerType2>div>.headerIcoWrap>.headerIco>a.icoShoppingbag{background: url(../img/shoppingbag_bk.png) no-repeat center; margin-left: 1.2rem;}

.plusAddress{padding: 2rem 2rem;}
.plusAddress>.plusAddressContainer{width: 100%; border: 1px solid #E2E2E2; border-radius: 4px; background: #fff; padding: 1.1rem 0;}
.plusAddress>.plusAddressContainer>a{display: flex; justify-content: center; align-items: center; gap: 6px;}
.plusAddress>.plusAddressContainer>a>img{width: 2.4rem; height: auto;}
.plusAddress>.plusAddressContainer>a>span{font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 2.4rem; color: #222;}

.main{}
.main>.noAddress{display: none; height: calc(100vh - 14.4rem);}
.main>.noAddress>p{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #969696; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.main>.yesAddress{}
.main>.yesAddress>ul{padding: 2rem 2rem; display: flex; flex-direction: column; gap: 2rem;}
.main>.yesAddress>ul>li{padding: 1.6rem 2rem; border: 1px solid #E2E2E2; border-radius: 8px;}
.main>.yesAddress>ul>li>.defaultTag{display: inline-block; font-family: 'Pretendard'; font-weight: 400; font-size: 1.2rem; line-height: 1.6rem; color: #fff; padding: 0.4rem 0.8rem; background: #222; border-radius: 2px; }
.main>.yesAddress>ul>li>.userInfo{margin-top: 1.6rem; display: flex; gap: 8px;}
.main>.yesAddress>ul>li>.userInfo>.userName{font-family: 'Pretendard'; font-weight: 500; font-size: 1.4rem; line-height: 2rem; color: #222;}
.main>.yesAddress>ul>li>.userInfo>.userNum{font-family: 'Pretendard'; font-weight: 500; font-size: 1.4rem; line-height: 2rem; color: #222;}
.main>.yesAddress>ul>li>.userAddress{padding-top: 4px; font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #696969;}
.main>.yesAddress>ul>li>.userAddress>.addressText>.zipCode{display: inline-block; padding-right: 6px;}
.main>.yesAddress>ul>li>.btnWrap{display: flex; gap: 8px; padding-top: 2rem; justify-content: right;}
.main>.yesAddress>ul>li>.btnWrap>a{font-family: 'Pretendard'; font-weight: 500; font-size: 1.4rem; line-height: 2rem; color: #222; padding: 0.7rem 1.5rem; background: #fff; border: 1px solid #E2E2E2; border-radius: 4px;}
.main>.yesAddress>ul>li>.btnWrap>button{font-family: 'Pretendard'; font-weight: 500; font-size: 1.4rem; line-height: 2rem; color: #222; padding: 0.8rem 1.6rem; background: #f5f5f5;  border-radius: 4px;}