#header_type2{position: relative; height: 5.6rem; width: 100%; }
#header_type2>div{height: 5.6rem; width: 100%;}
#header_type2>div>p{text-align: center; font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 5.6rem; color: #222;}
#header_type2>div>.header_ico_wrap{ width: 100%; position: absolute; top: 50%; transform: translateY(-50%); /* display: flex; */ /* justify-content: space-between; */}
#header_type2>div>.header_ico_wrap>a{display: inline-block; width: 2.4rem; height: 2.4rem;}
#header_type2>div>.header_ico_wrap>a.ico_left_arrow{background: url(../img/ic-arrow-left.png) no-repeat center; margin-left: 2rem;}
#header_type2>div>.header_ico_wrap>.header_ico{display: flex; float: right; margin-right: 2rem;}
#header_type2>div>.header_ico_wrap>.header_ico>a{display: block; width: 2.4rem; height: 2.4rem;}
#header_type2>div>.header_ico_wrap>.header_ico>a.ico_search{background: url(../img/search_bk.png) no-repeat center;}
#header_type2>div>.header_ico_wrap>.header_ico>a.ico_alarm{ background: url(../img/alarm_bk.png) no-repeat center;}
#header_type2>div>.header_ico_wrap>.header_ico>a.ico_shoppingbag{background: url(../img/shoppingbag_bk.png) no-repeat center; margin-left: 1.2rem;}

.completeTop{padding: 2.4rem 2rem 4rem 2rem;}
.completeTop>h3{font-family: 'Pretendard'; font-weight: 500; font-size: 1.8rem; line-height: 2.4rem; color: #222;}
.completeTop>p{display: flex; align-items: center; margin-top: 4px; font-family: 'Pretendard'; font-weight: 500; font-size: 1.8rem; line-height: 2.4rem; color: #e31616;}
.completeTop>p>span{display: inline-block; margin-right: 4px; font-family: 'Pretendard'; font-weight: 500; font-size: 2.4rem; line-height: 3.2rem; color: #e31616;}
.completeTop>.TopText{display: inline-block; margin-top: 2.4rem; font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #696969;}
.completeTop>.TopGreyBox{margin-top: 1.2rem; box-sizing: border-box; padding: 1.6rem 1.6rem; background: #f5f5f5; border-radius: 4px; display: flex; justify-content: space-between;}
.completeTop>.TopGreyBox>.TopGreyBox_l{font-family: 'Pretendard'; font-weight: 500; font-size: 1.4rem; line-height: 2rem; color: #696969;}
.completeTop>.TopGreyBox>.TopGreyBox_r{font-family: 'Pretendard'; font-weight: 400; font-size: 1.6rem; line-height: 2.4rem; color: #e31616;}

.completeTop>.btnWrap{margin-top: 3.2rem; display: flex; flex-direction: column; gap: 1.2rem;}
.completeTop>.btnWrap>a.reviewWrite{display: block; width: 100%; padding: 1.2rem 0; font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 2.4rem; color: #fff; background: #222; text-align: center; border-radius: 4px;}
.completeTop>.btnWrap>a.goShoping{display: block; width: 100%; padding: 1.1rem 0; font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 2.4rem; color: #222; background: #fff; text-align: center; border-radius: 4px; border: 1px solid #e2e2e2;}

.bannerWrap{display: flex; flex-direction: column; gap: 1.2rem; padding-bottom: 6.4rem;}
.bannerWrap>img{width: 100%; height: 11.2rem;}