#headerType2{ background: #fff; position: fixed; top: 0; left: 0; z-index: 997; height: 5.6rem; width: 100%;}
#headerType2>div{height: 5.6rem; width: 100%;}
#headerType2>div>p{text-align: center; font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 5.6rem; color: #222;}
#headerType2>div>.headerIcoWrap{ width: 100%; position: absolute; top: 50%; transform: translateY(-50%); display: flex; justify-content: space-between;}
#headerType2>div>.headerIcoWrap>a{ display: inline-block; width: 2.4rem; height: 2.4rem;}
#headerType2>div>.headerIcoWrap>a.icoLeftArrow{background: url(../img/ic-arrow-left.png) no-repeat center; margin-left: 2rem;}

#bottom{z-index: 993; position: fixed; bottom: 0; left: 0; background: #fff; padding: 1.6rem 2rem; width: 100%; box-sizing: border-box;}
#bottom>button{width: 100%; height: 4.8rem; background: #222; color: #fff; font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 2.4rem; text-align: center; color: #fff; border-radius: 4px;}

.coupon_comment{padding: 0 2rem; margin-top: 7.2rem; margin-bottom: 1.6rem;}
.coupon_comment>p{background: #f5f5f5; font-family: 'Pretendard'; font-weight: 400; font-size: 1.2rem; line-height: 1.6rem; color: #696969; height: 4.8rem; text-align: center; line-height: 4.8rem;}


#coupon_list_wrap{padding-bottom: 8rem;}
.coupon_wrap{ padding: 0 2rem;}
.coupon_wrap:not(:last-child){margin-bottom: 2rem;}

.coupon_wrap>.coupon_container{position: relative; background: #fff; border: 1px solid #F5F5F5; box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04); border-radius: 6px; padding: 1.6rem 2rem;}
.coupon_wrap>.coupon_container>.coupon_container_top{}
.coupon_wrap>.coupon_container>.coupon_container_top>.down_img{position: absolute; top: 2.5rem; right: 2.4rem; width: 3.4rem; height: 3.4rem; border-radius: 50%; background: #f5f5f5; display: flex; align-items: center; justify-content: center;}
.coupon_wrap>.coupon_container>.coupon_container_top>.down_img>img{width: 2.4rem; height: 2.4rem;}
.coupon_wrap>.coupon_container>.coupon_container_top>.percent{ font-family: 'Pretendard'; font-weight: 600; font-size: 1.6rem; line-height: 2.4rem; color: #e31616;}
.coupon_wrap>.coupon_container>.coupon_container_top>.percent>span{font-weight: 400; font-size: 1.4rem; line-height: 2rem;}
.coupon_wrap>.coupon_container>.coupon_container_top>.coupon_name{margin-top: 4px; font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 2.4rem; color: #222; padding-bottom: 1.6rem; border-bottom: 1px solid #f5f5f5;}
.coupon_wrap>.coupon_container>.coupon_container_bottom{padding-top: 1.6rem; font-family: 'Pretendard'; font-weight: 400; font-size: 1.2rem; line-height: 1.6rem; color: #bdbdbd;}
.coupon_wrap>.coupon_container>.coupon_container_bottom .left_text{margin-right: 1.6rem;}
.coupon_wrap>.coupon_container>.coupon_container_bottom>.useCondition{}
.coupon_wrap>.coupon_container>.coupon_container_bottom>.couponBenefit{margin-top: 8px;}
.coupon_wrap>.coupon_container>.coupon_container_bottom>.validity{margin-top: 8px;}
