body{background: #fff;}
/* 모바일 헤더 */
header{width: 100%; position: absolute; z-index: 999; background: linear-gradient(180deg, rgba(0,0,0,0.6) -12.5%, rgba(0,0,0,0) 99.99%), rgba(0,0,0,0) 100%;}
header .header_top{padding: 3.8rem 2rem 0 2rem; display: flex; justify-content: space-between;}
header .header_top div{font-size: 0;}
header .header_top div a{display: inline-block; width: 2.6rem; height: 2.6rem;}
header .header_top div a:not(:first-child){margin-left: 0.7rem;}
header .header_top div a.ico_search{background: url(../img/search.png) no-repeat center;}
header .header_top div a.ico_alarm{background: url(../img/alarm.png) no-repeat center;}
header .header_top div a.ico_shoppingbag{background: url(../img/shoppingbag.png) no-repeat center;}
.logo a {display: block; width: 12.5rem; height: 2.6rem; background: url(../img/logo.png) no-repeat 0 0 / 100% auto;}

.header_gnb{padding-top: 2.1rem;}
.header_gnb ul{padding: 0 2.5rem; height: 4.1rem; display: flex; justify-content: space-between;}
.header_gnb li{line-height: 4.1rem; }
.header_gnb ul li a{display: block; padding: 0 1.2rem; color: #fff; font-family: 'Pretendard'; font-weight: 500; font-size: 1.4rem;}

#bottom_gnb{font-size: 0; position: fixed; bottom: 0; width: 100%; z-index: 999; background: #fff; border-top: 1px solid #f5f5f5; transition: 0.5s;}
#bottom_gnb.active{transform: translateY(6rem); transition: 0.5s;}
#bottom_gnb>ul{display: flex; justify-content: space-between; padding: 0 1.8rem 0.4rem 1.7rem;}
#bottom_gnb>ul>li{}
#bottom_gnb>ul>li>a{display: inline-block; width: 6.5rem; height: 5.6rem; text-align: center; line-height: 5.6rem;}

/* nav .on */
.header_gnb ul li.on{position: relative;}
.header_gnb ul li.on>a::after{content: ""; width: 0.5rem; height: 0.5rem; position: absolute; top: 0.5rem; right: 0.5rem; background: red; border-radius: 50%;}

/* 모바일 헤더 스크룰시 고정 */
#header{}
#header>.header_top{transition:.5s; /* position: absolute; top: -100px; */}
#header>.header_gnb.fixed{position: fixed; left: 0; top: 0; width: 100%; background: #fff; transition: .8s;}
#header>.header_gnb.fixed>ul>li>a{color: #969696;}
#header>.header_gnb.fixed>ul>li.on>a{color: #222;}


/* home_section_quick_menu */
#home_section_quick_menu{position: relative; padding: 2rem 0 8.5rem 0;}
.quick_menu_five{display: flex; box-sizing: border-box; margin: 0 auto; padding: 0 2rem; flex-wrap: wrap; justify-content: left;}
.quick_menu_five>.quick_menu_item{width: 20%;}
.quick_menu_five>.quick_menu_item:nth-child(-n+5){margin-bottom: 1.6rem;}
.quick_menu_item>a{display: block; width: 100%;}
.quick_menu_item>a>span{width: 62.5%; display: block; overflow: hidden; margin: 0.6rem auto;}
.quick_menu_item>a>span>img{ /* position: absolute; top:0; left: 0; */ width: 100%; }
.quick_menu_item>a>p{text-align: center; font-family: 'Pretendard'; font-weight: 500; color: #696969; font-size: 1.2rem;}

/* home_section_best */
#home_section_best>h3{padding-left: 2rem; padding-bottom: 1.2rem;}
.category_tab_wrap{padding: 1rem 2rem;}
.category_tabnav{ overflow-x: scroll; padding: 1.2rem 0 1.2rem 0;}/* 오른쪽 패딩 안먹는이유 */
.category_tabnav>ul{display: flex;}
.category_tabnav>ul>li:not(:first-child){margin-left: 1.2rem;}
.category_tabnav>ul>li>a{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; color: #222; padding: 0.8rem 1.2rem; background: #f5f5f5; border-radius: 20px; }
.category_tabnav>ul>li>a.on{background: #222; color: #fff;}

.category_tabcontent{padding-top: 0.8rem;}
.tab{}
.tab>ul{display: flex; flex-wrap: wrap; justify-content: space-between; padding-bottom: 0.8rem;}
.tab>ul>li{width: 49.5%; position: relative;}
.tab>ul>li>a>.item_img{height: 23.8rem; line-height: 23.8rem;}
.tab>ul>li>a>.item_img>img{width: 100%; height: auto;}
.tab>ul>li>a>.tab_item{padding: 1.2rem 1.2rem 0.8rem 1.2rem; height: 5.9rem;}
.tab>ul>li>a>.tab_item>.title{overflow: hidden; text-overflow: ellipsis; margin-bottom: 0.4rem;}
.tab>ul>li>a>.tab_item>.caption{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; color: #222; line-height: 2rem;  overflow: hidden; text-overflow: ellipsis;}
.tab>ul>li>a>.item_price{padding-left: 1.2rem;}
.tab>ul>li>a>.item_price>.sale_price{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; color: #bdbdbd; text-decoration-line: line-through; height: 20px; line-height: 2rem;}
.tab>ul>li>a>.item_price>.no_sale_price{display: flex; height: 2.4rem;}
.tab>ul>li>a>.item_price>.no_sale_price>.percent{font-family: 'Pretendard'; font-weight: 600; font-size: 1.6rem; color: #e31616; line-height: 2.4rem;}
.tab>ul>li>a>.item_price>.no_sale_price>.percent>span{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem;}
.tab>ul>li>a>.item_price>.no_sale_price>.price{font-family: 'Pretendard'; font-weight: 600; font-size: 1.6rem; color: #222; line-height: 2.4rem; margin-left: 0.4rem;}
.tab>ul>li>a>.coupon{padding-left: 1.2rem; padding-top: 1rem;}
.tab>ul>li>a>.coupon>p{font-family: 'Pretendard'; font-weight: 400; font-size: 1.2rem; padding: 0.4rem 0.8rem; background: #f5f5f5; display: inline-block; color: #222;}
.tab>ul>li>a>.review_wrap{height: 2rem; display: flex; font-family: 'Pretendard'; font-weight: 500; font-size: 1.4rem; line-height: 2rem; color: #969696; padding-left: 1.2rem; padding-top: 1.6rem; padding-bottom: 3.8rem;}
.tab>ul>li>a>.review_wrap>.star_review{display: flex; gap: 0.2rem;}
.tab>ul>li>a>.review_wrap>.star_review>li{width: 2rem; position: relative;}
.tab>ul>li>a>.review_wrap>.star_review>li>img{ position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.tab>ul>li>a>.review_wrap>.star_review>span{padding-left: 0.5rem;}
.tab>ul>li>a>.review_wrap>.review_count{margin-left: 1rem;}
.tab>ul>li>a>.review_wrap>.review_count>.review_text{}
.tab>ul>li>a>.review_wrap>.review_count>.review_count{}
.tab>ul>li>.item_num{position: absolute; top: 0.8rem; left: 0.8rem; width: 32px; height: 32px; background: #222; text-align: center; }
.tab>ul>li>.item_num>span{color: #fff; font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; display: block; line-height: 3rem;}
.tab>ul>li>.item_like{position: absolute; top: 0; right: 0;}
.tab>ul>li>.item_like>button{background: none; z-index: 100;}
.tab>ul>li>.item_like>button>img{/* width: 100%; */ display: block; padding: 1.2rem 1.1rem;}
.best_item_more{ padding: 0 2rem 6rem 2rem;}
.best_item_more>a{display: block; font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; color: #222; padding: 1.2rem 0; border: 1px solid #e2e2e2; border-radius: 4px; text-align: center;}
.line_banner{padding-bottom: 6rem;}
.line_banner>img{display: block; width: 100%; height: auto;}

#home_section_rec_brand{padding: 2.5rem 0 0 0;}
#home_section_rec_brand>h3{padding-bottom: 1.2rem; padding-left: 2rem;}
#home_section_rec_brand_main{}
#home_section_rec_brand_main img{}
.rec_brand_item{padding-top: 1.6rem;}
.rec_brand_item_img{width: 32%;}
.rec_brand_item_text{width: 68%;}
.rec_brand_item_top{display: flex;}
.rec_brand_item_text>.coupon{font-family: 'Pretendard'; font-weight: 400; font-size: 1.2rem; background: #f5f5f5; display: inline-block; padding: 0.4rem 0.8rem; color: #222;}
.rec_brand_item_bottom{display: flex;}
.rec_brand_item_text{padding: 0 1.6rem 0 2rem;}
.rec_brand_item_title{font-family: 'Pretendard'; font-weight: 400; font-size: 1.6rem; padding: 0.8rem 0 0.4rem 0; }
.rec_brand_item_price{display: flex;}
.rec_brand_item_price>.percent{font-family: 'Pretendard'; font-weight: 600; font-size: 1.6rem; color: #e31616; line-height: 2.4rem;}
.rec_brand_item_price>.percent>span{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem;}
.rec_brand_item_price>.price{font-family: 'Pretendard'; font-weight: 600; font-size: 1.6rem; color: #222; line-height: 2.4rem; margin-left: 0.4rem;}

#home_section_magazine{padding-top: 8.5rem;}
#home_section_magazine a{display: block; width: 100%;}
#home_section_magazine img{width: 100%;}
#home_section_magazine>h3{padding: 0 2rem 1.2rem 2rem;}
#home_section_magazine>.best_item_more{padding: 4rem 2rem 8.5rem 2rem;}
#home_section_magazine>.best_item_more>a{display: block; font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; color: #222; padding: 1.2rem 0; border: 1px solid #e2e2e2; border-radius: 4px; text-align: center;}

#home_section_brand{padding: 0 2rem;}
#home_section_brand>ul{display: flex; box-sizing: border-box;   flex-wrap: wrap;  justify-content: space-between; padding-top: 2.4rem; padding-bottom: 3.7rem; gap: 0.8rem;}
#home_section_brand>ul>li{width: 31.6%}
#home_section_brand>ul>li>a{display: block; width: 100%;}
#home_section_brand>ul>li>a>img{width: 100%;}

#footer{}
#footer>.footer_ask{display: flex; width: 100%; justify-content: space-between;}
#footer>.footer_ask>li{ width: 33.3%; text-align: center;}
#footer>.footer_ask>li>a{display: block; font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; padding: 1.4rem 0; line-height: 2rem;}
#footer>.footer_ask>li>a>span{display: block;}
#footer>.footer_ask>li:not(:last-child)>a>span{border-right: 1px solid #e2e2e2;}
#footer>.footer_info{padding: 2.8rem 2rem; background: #f5f5f5;}
#footer>.footer_info>.info_title{display: flex; justify-content: space-between; padding-right: 0.9rem; padding-bottom: 1.2rem;}
#footer>.footer_info>.info_title>p{font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 2.4rem;}
#footer>.footer_info>.info_sub{display: flex; padding-bottom: 1.6rem;}
#footer>.footer_info>.info_sub>li{position: relative; font-family: 'Pretendard'; font-weight: 500; font-size: 1.2rem; line-height: 1.6rem; color: #696969; padding-right: 1rem;}
#footer>.footer_info>.info_sub>li:not(:first-child){padding-left: 1rem;}
#footer>.footer_info>.info_sub>li:not(:last-child):after{content: ""; position: absolute; top: 50%; right: 0; transform: translateY(-50%); background: #bdbdbd; width: 1px; height: 8px;}
#footer>.footer_info>.info_ico{padding-bottom: 3.6rem;}
#footer>.footer_info>.info_ico>ul{display: flex;}
#footer>.footer_info>.info_ico>ul>li:not(:first-child){margin-left: 1.2rem;}
#footer>.footer_info>.info_ico a{position: relative; display: block; width: 2.8rem; height: 2.8rem; background: #222;  line-height: 2.8rem; border-radius: 50%;}
#footer>.footer_info>.info_ico a>img{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
#footer>.footer_info>.info_copy>p{font-family: 'Pretendard'; font-weight: 400; font-size: 1.2rem; line-height: 1.6rem; color: #bdbdbd;}


