html,body{position: relative; height: 100%;}



#headerType2{position: relative; height: 5.6rem; width: 100%; }
#headerType2>div{height: 5.6rem; width: 100%;}
#headerType2>div>p{text-align: center; font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 5.6rem; color: #222;}
#headerType2>div>.headerIcoWrap{ width: 100%; position: absolute; top: 50%; transform: translateY(-50%); /* display: flex; */ /* justify-content: space-between; */}
#headerType2>div>.headerIcoWrap>a{display: inline-block; width: 2.4rem; height: 2.4rem;}
#headerType2>div>.headerIcoWrap>a.icoLeftArrow{background: url(../img/ic-arrow-left.png) no-repeat center; margin-left: 2rem;}
#headerType2>div>.headerIcoWrap>.headerIco{display: flex; float: right; margin-right: 2rem;}
#headerType2>div>.headerIcoWrap>.headerIco>a{display: block; width: 2.4rem; height: 2.4rem;}
#headerType2>div>.headerIcoWrap>.headerIco>a.icoSearch{ background: url(../img/search_bk.png) no-repeat center;}
#headerType2>div>.headerIcoWrap>.headerIco>a.icoShoppingbag{background: url(../img/shoppingbag_bk.png) no-repeat center; margin-left: 1.2rem;}



.tabNav{}
.tabNav>ul{display: flex;}
.tabNav>ul>li{width: 50%; text-align: center; }
.tabNav>ul>li>a{display: block; font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 2.4rem; color: #969696; padding: 0.9rem 0; border-bottom: 3px solid #f5f5f5;}
.tabNav>ul>li>a.on{color: #222; border-bottom: 3px solid #222;}
.tabNav>ul>li>a>span{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; margin-left: 0.4rem;} 
.tab>#noItem{width: 100%; display: none;}
.tab>#noItem{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); text-align: center;}
.tab>#noItem>p{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #969696; white-space: nowrap;}
.tab>#noItem>a{width: 15rem; display: inline-block; font-family: 'Pretendard'; font-weight: 500; font-size: 1.4rem; line-height: 2rem; color: #222; padding: 0.8rem 0; background: #fff; border: 1px solid #e2e2e2; border-radius: 0.4rem; margin-top: 2.4rem;}

.tab>#noBrand{width: 100%; display: none;}
.tab>#noBrand{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); text-align: center;}
.tab>#noBrand>p{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #969696; white-space: nowrap;}
.tab>#noBrand>a{width: 15rem; display: inline-block; font-family: 'Pretendard'; font-weight: 500; font-size: 1.4rem; line-height: 2rem; color: #222; padding: 0.8rem 0; background: #fff; border: 1px solid #e2e2e2; border-radius: 0.4rem; margin-top: 2.4rem;}

.tab>#yesItem{padding: 0 2rem;}
.tab>#yesItem>.checkFilter{display: flex; justify-content: space-between; padding: 1.8rem 0 1.6rem 0; align-items: center;}
.tab>#yesItem>.checkFilter>label>span{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #696969;}
.tab>#yesItem>.checkFilter>.popup{}
.tab>#yesItem>.checkFilter>.popup>.sort{display: flex; background: none; align-items: center;}
.tab>#yesItem>.checkFilter>.popup>.sort>p{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #969696;}

.itemListWrap{}
.itemListWrap>p{font-family: 'Pretendard'; font-weight: 400; font-size: 1.2rem; line-height: 1.6rem; color: #696969;}
.itemListWrap>ul{width: 100%; padding-bottom: 2rem;}
.itemListWrap>ul>li{position: relative; overflow: hidden;}
.itemListWrap>ul>li:first-child{margin-top: 1.2rem;}
.itemListWrap>ul>li:not(:first-child){margin-top: 2rem;}
.itemListWrap>ul>li>.itemList{display: flex; width: 100%;}
.itemListWrap>ul>li>.itemList>.itemImg{width: 28.125%; position: relative; background: #e2e2e2;}
/* .itemListWrap>ul>li.soldOut>.itemList>.itemImg>.soldOut{display: flex; position: absolute; background:  rgba(0, 0, 0, 0.5); width: 100%; height: 100%; z-index: 111; font-family: 'Pretendard'; font-weight: 500; font-size: 1.2rem; line-height: 1.6rem; color: #f5f5f5; justify-content: center; align-items: center;} */
.itemListWrap>ul>li>.itemList>.itemImg>a{display: block; width: 100%;}
.itemListWrap>ul>li>.itemList>.itemImg>a>img{width: 100%; position: absolute; top: 50%; transform: translateY(-50%);}
.itemListWrap>ul>li>.itemList>.itemImg>.itemLike{position: absolute; z-index: 112; top: 8px; right: 7px;}
.itemListWrap>ul>li>.itemList>.itemImg>.itemLike>button{background: none;}
.itemListWrap>ul>li>.itemList>.itemImg>.itemLike>button>img{display: block; width: 100%; }
.itemListWrap>ul>li>.itemList>.itemListText{width: 71.875%; position: relative;}
.itemListWrap>ul>li>.itemList>.itemListText>a{display: block;  }
.itemListWrap>ul>li>.itemList>.itemListText>.item_close{position: absolute; top: 2px; right: 2px;}
.itemListWrap>ul>li>.itemList>.itemListText>.item_close>button{background: none;}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer{padding:1.2rem 3rem 1.1rem 1.2rem; background: #fff;}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.itemBrand{}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.itemBrand>p{font-family: 'Montserrat'; font-weight: 600; font-size: 1.2rem; line-height: 1.5rem; color: #222;}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.itemName{padding-top: 0.4rem;}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.itemName>p{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #222; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.itemPrice{display: flex; padding-top: 0.8rem;}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.itemPrice>.salePrice{display: flex; align-items: center;}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.itemPrice>.salePrice>.percent{}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.itemPrice>.salePrice>.percent>p{font-family: 'Pretendard'; font-weight: 600; font-size: 1.4rem; line-height: 2rem; color: #e31616;}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.itemPrice>.salePrice>.percent>p>span{font-weight: 400; font-size: 1.2rem; line-height: 1.6rem;}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.itemPrice>.salePrice>.price{margin-left: 0.4rem;}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.itemPrice>.salePrice>.price>p{font-family: 'Pretendard'; font-weight: 600; font-size: 1.4rem; line-height: 2rem; color: #222;}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.itemPrice>.noSalePrice{margin-left: 0.6rem;}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.itemPrice>.noSalePrice>p{font-family: 'Pretendard'; font-weight: 400; font-size: 1.2rem; line-height: 2rem; color: #bdbdbd; text-decoration-line: line-through;}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.coupon{padding-top: 1rem;}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.coupon>p{display: inline-block; font-family: 'Pretendard'; font-weight: 400; font-size: 1.2rem; line-height: 1.2rem; color: #222; padding: 0.4rem 0.8rem; background: #f5f5f5; border-radius: 2px;}

#sort_popup{}
#sort_popup>.sort_body{z-index: 998; width: 100%; height: 100%;  position: fixed; left: 0; top: 0;  background: none; display: none;}
#sort_popup>.sort_container{z-index: 999; width: 100%; height: 30.1rem; position: fixed; bottom: -30.1rem; background: #fff; border-radius: 1.2rem 1.6rem 0 0; transition: .5s;}
#sort_popup>.sort_container.fixed{transform: translateY(-30.1rem); transition: .5s;}
#sort_popup>.sort_container>.touch_line_wrap{width: 100%; height: 2.4rem;}
#sort_popup>.sort_container>.touch_line_wrap>.touch_line{ width: 5.6rem; height: 5px; position: absolute; top: 10px; left: 50%; transform: translateX(-50%); background: #e2e2e2; border-radius: 10rem;}
#sort_popup>.sort_container>ul{}
#sort_popup>.sort_container>ul>li{}
#sort_popup>.sort_container>ul>li>.check_list{display: flex; padding: 1.4rem 2rem;}
#sort_popup>.sort_container>ul>li>.check_list>p{font-family: 'Pretendard'; font-weight: 400; font-size: 1.6rem; line-height: 2.4rem; color: #696969; margin-left: 1rem; }
#sort_popup>.sort_container>ul>li.active>.check_list>p{color: #222;}
#sort_popup>.sort_container>ul>li>.check_list>.check_img{width: 2.4rem; height: 2.4rem; background: url(../img/ic-check.png);}
#sort_popup>.sort_container>ul>li.active>.check_list>.check_img{width: 2.4rem; height: 2.4rem; background: url(../img/ic-check_active.png);}

#brand{padding: 2rem 0;}
#brand>ul{}
#brand>ul>li{display: flex; align-items: center; justify-content: space-between; padding-right: 2rem;}
#brand>ul>li>a{display: inline-block;  width: 100%; height: 100%; padding: 2rem 0 2rem 2rem; align-items: center; justify-content: space-between; box-sizing: border-box;}
#brand>ul>li>a>.brandLeft{display: flex; align-items: center;}
#brand>ul>li>a>.brandLeft>.brandName{margin-left: 1.2rem;}
#brand>ul>li>a>.brandLeft>.brandName>.en{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #222;}
#brand>ul>li>a>.brandLeft>.brandName>.ko{font-family: 'Pretendard'; font-weight: 400; font-size: 1.2rem; line-height: 1.6rem; color: #969696;}
.likeIc{background: none;}
input#check_btn{
    display:none;
    }
  
  input#check_btn  > span{
    vertical-align: middle;
    padding-left: 5px;
   }
  
  /* label:before에 체크하기 전 상태 CSS */
  input#check_btn + span:before{
    content:"";
    display:inline-block;
    width:18px;
    height:18px;
    border:1px solid #e2e2e2;
    border-radius: 2px;
    vertical-align:middle;
    margin-right: 1rem;
    }
    
  /* label:before에 체크 된 상태 CSS */  
  input#check_btn:checked + span:before{
    content:"";
    background-color:#222;
    border-color:#222;
    background-image: url(../img/check_btn.png);
    background-repeat: no-repeat;
    background-position: 50%;
    }