#header{background: none; position: relative;}
#header .header_top div a.ico_search_bk{background: url(../img/search_bk.png) no-repeat center;}
#header .header_top div a.ico_shoppingbag_bk{background: url(../img/shoppingbag_bk.png) no-repeat center;}
#header .header_top>.logo_bk>a {display: block; width: 12.5rem; height: 2.6rem; background: url(../img/logo_bk.png) no-repeat 0 0 / 100% auto;}

.menu_tab_wrap{}
.menu_tab_wrap>.menu_tab_nav{padding: 3.8rem 2rem 0 2rem; border-bottom: 1px solid #f5f5f5;}
.menu_tab_wrap>.menu_tab_nav>ul{display: flex; gap: 2.4rem;}
.menu_tab_wrap>.menu_tab_nav>ul>li{}
.menu_tab_wrap>.menu_tab_nav>ul>li>a{display: block;  padding-bottom: 0.6rem; font-family: 'Pretendard'; font-weight: 500; font-size: 1.4rem; line-height: 2rem; color: #969696;}
.menu_tab_wrap>.menu_tab_nav>ul>li>a.on{color: #222; border-bottom: 2px solid #222;}

#menu_tab1>#home_section_quick_menu{padding:3.1rem 0 4rem 0;}

#menu_exhibition{border-top: 1px solid #f5f5f5;}
#menu_exhibition>ul{padding: 2.4rem 2rem 2.4rem 2rem; display: flex; justify-content: space-between;}
#menu_exhibition>ul>li{line-height: 2rem;}
#menu_exhibition>ul>li>a{display: block; font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem;  color: #696969; }

.exhibition_content{padding-bottom: 4rem; border-bottom: 1px solid #f5f5f5;}
.exhibition_content>ul{max-width: 48rem; display: flex; overflow-x: scroll; padding: 0 2rem; margin: 0 auto; justify-content: space-between;}
.exhibition_content>ul::-webkit-scrollbar{display: none;}
.exhibition_content>ul>li{}
.exhibition_content>ul>li:not(:first-child){margin-left: 1.2rem;}

.exhibition_content>ul>li>a{display: block;}
.exhibition_content>ul>li>a>.img_area{position: relative; width: 15.2rem; height: 20.4rem; overflow: hidden; text-align: center;}
.exhibition_content>ul>li>a>.img_area>img{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.exhibition_content>ul>li>a>.text_area{padding-top: 1.2rem;}
.exhibition_content>ul>li>a>.text_area>.text_top{margin-bottom: 0.8rem; width: 15.2rem;  }
.exhibition_content>ul>li>a>.text_area>.text_top>p{font-family: 'Pretendard'; font-weight: 500; font-size: 1.4rem; line-height: 2rem; color: #222; text-overflow: ellipsis; overflow: hidden; white-space:nowrap;}
.exhibition_content>ul>li>a>.text_area>.text_bottom{ width: 15.2rem; height: 4rem;}
.exhibition_content>ul>li>a>.text_area>.text_bottom>p{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #696969; text-overflow: ellipsis; overflow: hidden;  -webkit-line-clamp:2; display: -webkit-box;  -webkit-box-orient: vertical;}

#menu_magazine{padding: 0 2rem 4rem 2rem;}
#menu_magazine>ul{padding: 2.4rem 0; display: flex; justify-content: space-between;}
#menu_magazine>ul>li{line-height: 2rem;}
#menu_magazine>ul>li>a{display: block; font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem;  color: #696969; }
#menu_magazine>.magazine_content{}
#menu_magazine>.magazine_content>a{display: block;}
#menu_magazine>.magazine_content>a:not(:first-child){margin-top: 1.6rem;}
#menu_magazine>.magazine_content>a>.magazine_list{margin: 0 auto; display: flex; max-width: 48rem;}
#menu_magazine>.magazine_content>a>.magazine_list>img{width: 38.8%; height: auto;}
#menu_magazine>.magazine_content>a>.magazine_list>.magazine_text{ padding: 1.6rem 1.3rem 1.8rem 1.4rem;  }
#menu_magazine>.magazine_content>a>.magazine_list>.magazine_text{}
#menu_magazine>.magazine_content>a>.magazine_list>.magazine_text>.text_top{margin-bottom: 0.8rem;}
#menu_magazine>.magazine_content>a>.magazine_list>.magazine_text>.text_top>p{font-family: 'Pretendard'; font-weight: 500; font-size: 1.2rem; line-height: 1.6rem; color: #e31616; }
#menu_magazine>.magazine_content>a>.magazine_list>.magazine_text>.text_middle{margin-bottom: 0.6rem;}
#menu_magazine>.magazine_content>a>.magazine_list>.magazine_text>.text_middle>p{width: 16.9rem; font-family: 'Pretendard'; font-weight: 500; font-size: 1.4rem; line-height: 2rem; color: #222; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
#menu_magazine>.magazine_content>a>.magazine_list>.magazine_text>.text_bottom{}
#menu_magazine>.magazine_content>a>.magazine_list>.magazine_text>.text_bottom>p{width: 16.9rem;  font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #696969; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }