#headerType2{position: relative; height: 5.6rem; width: 100%; }
#headerType2>div{height: 5.6rem; width: 100%;}
#headerType2>div>p{text-align: center; font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 5.6rem; color: #222;}
#headerType2>div>.headerIcoWrap{ width: 100%; position: absolute; top: 50%; transform: translateY(-50%); /* display: flex; */ /* justify-content: space-between; */}
#headerType2>div>.headerIcoWrap>a{display: inline-block; width: 2.4rem; height: 2.4rem;}
#headerType2>div>.headerIcoWrap>a.icoLeftArrow{background: url(../img/ic-arrow-left.png) no-repeat center; margin-left: 2rem;}
#headerType2>div>.headerIcoWrap>.headerIco{display: flex; float: right; margin-right: 2rem;}
#headerType2>div>.headerIcoWrap>.headerIco>a{display: block; width: 2.4rem; height: 2.4rem;}
#headerType2>div>.headerIcoWrap>.headerIco>a.icoAlarm{ background: url(../img/alarm_bk.png) no-repeat center;}
#headerType2>div>.headerIcoWrap>.headerIco>a.icoShoppingbag{background: url(../img/shoppingbag_bk.png) no-repeat center; margin-left: 1.2rem;}

#nonMemberTop{padding: 1.6rem 2rem 0 2rem;}
#nonMemberTop>div{}
#nonMemberTop>div>p:first-child{font-family: 'Pretendard'; font-weight: 600; font-size: 1.8rem; line-height: 2.4rem; color: #222;}
#nonMemberTop>div>p:nth-child(2){font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #696969; margin-top: 1rem;}
#nonMemberTop>a{display: block; margin-top: 2rem; width: 100%; background: none; border: 1px solid #e2e2e2; padding:  1.2rem 0; text-align: center; font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 2.4rem; color: #222; border-radius: 4px;}

#nonMemberMiddle{padding: 2.8rem 2rem 0 2rem;}
#nonMemberMiddle>ul{}
#nonMemberMiddle>ul:not(:first-child){margin-top: 0.8rem;}
#nonMemberMiddle>ul>h3{font-family: 'Pretendard'; font-weight: 600; font-size: 1.6rem; line-height: 2.4rem; color: #222; padding: 1rem 0 0.6rem 0;}
#nonMemberMiddle>ul>li{}
#nonMemberMiddle>ul>li>a{display: block; font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #222; padding: 1rem 0;}