#header_type2{position: relative; height: 5.6rem; width: 100%; }
#header_type2>div{height: 5.6rem; width: 100%;}
#header_type2>div>p{text-align: center; font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 5.6rem; color: #222;}
#header_type2>div>.header_ico_wrap{ width: 100%; position: absolute; top: 50%; transform: translateY(-50%); /* display: flex; */ /* justify-content: space-between; */}
#header_type2>div>.header_ico_wrap>a{display: inline-block; width: 2.4rem; height: 2.4rem;}
#header_type2>div>.header_ico_wrap>a.ico_left_arrow{background: url(../img/ic-arrow-left.png) no-repeat center; margin-left: 2rem;}
#header_type2>div>.header_ico_wrap>.header_ico{display: flex; float: right; margin-right: 2rem;}
#header_type2>div>.header_ico_wrap>.header_ico>a{display: block; width: 2.4rem; height: 2.4rem;}
#headerType2>div>.headerIcoWrap>.headerIco>a.icoAlarm{ background: url(../img/alarm_bk.png) no-repeat center;}
#headerType2>div>.headerIcoWrap>.headerIco>a.icoShoppingbag{background: url(../img/shoppingbag_bk.png) no-repeat center; margin-left: 1.2rem;}

#memberTop{ padding: 1.6rem 2rem 2.8rem 2rem; display: flex; justify-content: space-between;}
#memberTop>.memberTopLeft{display: flex;}
#memberTop>.memberTopLeft>.membership{width: 6rem; height: 6rem;}
#memberTop>.memberTopLeft>.membership.new{background: url(../img/membership-new.png) no-repeat center / 100%;}
#memberTop>.memberTopLeft>.membership.bronze{background: url(../img/membership-bronze.png) no-repeat center / 100%;}
#memberTop>.memberTopLeft>.membership.silver{background: url(../img/membership-silver.png) no-repeat center / 100%;}
#memberTop>.memberTopLeft>.membership.gold{background: url(../img/membership-gold.png) no-repeat center / 100%;}
#memberTop>.memberTopLeft>.membership.vip{background: url(../img/membership-vip.png) no-repeat center / 100%;}
#memberTop>.memberTopLeft>.membership.family{background: url(../img/membership-family.png) no-repeat center / 100%;}
#memberTop>.memberTopLeft>.memberTopLeftText{margin-left: 1.6rem;}
#memberTop>.memberTopLeft>.memberTopLeftText>.memberName{}
#memberTop>.memberTopLeft>.memberTopLeftText>.memberName>p{font-family: 'Pretendard'; font-weight: 500; font-size: 1.8rem; line-height: 2.4rem;}
#memberTop>.memberTopLeft>.memberTopLeftText>.membershipView{margin-top: 1rem;}
#memberTop>.memberTopLeft>.memberTopLeftText>.membershipView>a{display: block; border: 1px solid #e2e2e2; padding: 0.5rem 1.2rem; text-align: center; font-family: 'Pretendard'; font-weight: 400; font-size: 1.2rem; line-height: 1.6rem; color: #222; border-radius: 2px;}
#memberTop>.memberTopRight{}
#memberTop>.memberTopRight>a{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; text-decoration: underline; color: #969696;}

#memberMiddle{}
#memberMiddle>.memberMiddleTop{display: flex;}
#memberMiddle>.memberMiddleTop>.saving{width: 50%; border-right: 2px solid #f5f5f5;}
#memberMiddle>.memberMiddleTop>.saving>a{display: flex; flex-direction: column; padding: 0.8rem 1.9rem 1.6rem 2rem;}
#memberMiddle>.memberMiddleTop>.saving>a>.savingTop{display: flex; justify-content: space-between;}
#memberMiddle>.memberMiddleTop>.saving>a>.savingTop>p{font-family: 'Pretendard'; font-weight: 500; font-size: 1.2rem; line-height: 2.4rem; color: #969696;}
#memberMiddle>.memberMiddleTop>.saving>a>.savingTop>img{width: 2.4rem; height: 2.4rem;}
#memberMiddle>.memberMiddleTop>.saving>a>.savingBottom{}
#memberMiddle>.memberMiddleTop>.saving>a>.savingBottom>p{font-family: 'Pretendard'; font-weight: 500; font-size: 1.4rem; line-height: 2rem; color: #222;}
#memberMiddle>.memberMiddleTop>.saving>a>.savingBottom>p>span{}
#memberMiddle>.memberMiddleTop>.saleCoupon{width: 50%;}
#memberMiddle>.memberMiddleTop>.saleCoupon>a{display: flex; flex-direction: column; padding: 0.8rem 1.9rem 1.6rem 2rem;}
#memberMiddle>.memberMiddleTop>.saleCoupon>a>.saleCouponTop{display: flex; justify-content: space-between;}
#memberMiddle>.memberMiddleTop>.saleCoupon>a>.saleCouponTop>p{font-family: 'Pretendard'; font-weight: 500; font-size: 1.2rem; line-height: 2.4rem; color: #969696;}
#memberMiddle>.memberMiddleTop>.saleCoupon>a>.saleCouponTop>img{ width: 2.4rem; height: 2.4rem;}
#memberMiddle>.memberMiddleTop>.saleCoupon>a>.saleCouponBottom{}
#memberMiddle>.memberMiddleTop>.saleCoupon>a>.saleCouponBottom>p{font-family: 'Pretendard'; font-weight: 500; font-size: 1.4rem; line-height: 2rem; color: #222;}
#memberMiddle>.memberMiddleBottom{padding: 2rem 2rem; background: #f5f5f5;}
#memberMiddle>.memberMiddleBottom>.memberMiddleBottomContainer{background: #fff; border-radius: 8px; display: flex;}
#memberMiddle>.memberMiddleBottom>.memberMiddleBottomContainer>li{width: 33.3333%; text-align: center;}
#memberMiddle>.memberMiddleBottom>.memberMiddleBottomContainer>li>a{display: block; padding: 1.2rem 0 2rem 0;}
#memberMiddle>.memberMiddleBottom>.memberMiddleBottomContainer>li>a>.text{font-family: 'Pretendard'; font-weight: 500; font-size: 1.2rem; line-height: 1.6rem; color: #969696;}
#memberMiddle>.memberMiddleBottom>.memberMiddleBottomContainer>li>a>.number{margin-top: 1.6rem; font-family: 'Pretendard'; font-weight: 500; font-size: 1.8rem; line-height: 2.4rem; color: #222;}

#memberBottom{padding: 2.8rem 2rem 0 2rem; border-bottom: 8px solid #f5f5f5 ;}
#memberBottom>ul{}
#memberBottom>ul:not(:first-child){margin-top: 0.8rem;}
#memberBottom>ul>h3{font-family: 'Pretendard'; font-weight: 600; font-size: 1.6rem; line-height: 2.4rem; color: #222; padding: 1rem 0 0.6rem 0;}
#memberBottom>ul>li{}
#memberBottom>ul>li>a{display: block; font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #222; padding: 1rem 0;}
#memberBottom>ul:last-child>li:last-child>a{padding: 1rem 0 1.8rem 0;}

#memberOut{padding: 0.8rem 2rem 0 2rem;}
#memberOut>ul{}
#memberOut>ul>li{}
#memberOut>ul>li>button{width: 100%; text-align: left; padding: 1rem 0; background: none; font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #969696;}
#memberOut>ul>li>a{display: block; padding: 1rem 0; font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #969696;}

#bottomGnb{font-size: 0; position: fixed; bottom: 0; width: 100%; z-index: 999; background: #fff; border-top: 1px solid #f5f5f5; transition: 0.5s; height: 6rem;}
#bottomGnb.active{transform: translateY(6rem); transition: 0.5s;}
#bottomGnb>ul{display: flex; justify-content: space-between; padding: 0 1.8rem 0.4rem 1.7rem;}
#bottomGnb>ul>li{position: relative;}
#bottomGnb>ul>li>a{display: inline-block; width: 6.5rem; height: 5.6rem; text-align: center; line-height: 5.6rem;}
#bottomGnb>ul>li>a>img{width: 24px; position: absolute; top: 0.5rem; left: 50%; transform: translateX(-50%);}
#bottomGnb>ul>li>a>p{font-family: 'Pretendard'; font-weight: 400; font-size: 1rem; line-height: 1.6rem; color: #222; position: absolute; top: 3.1rem; left: 50%; transform: translateX(-50%); white-space: nowrap;}