#header_type2{height: 5.6rem; width: 100%;}
#header_type2>div{display: flex; height: 100%; justify-content: space-between; padding: 0 1.6rem; font-size: 0; align-items: center;}
#header_type2>div>a{display: inline-block; width: 2.4rem; height: 2.4rem;}
#header_type2>div>a.ico_left_arrow{background: url(../img/ic-arrow-left.png) no-repeat center;}
#header_type2>div>button.ico_share{width: 2.4rem; height: 2.4rem; background: url(../img/ic_share.png) no-repeat center;}
#header_type2>div img{width: 50%;}

.page_title{padding: 1.2rem 1.6rem 2rem 1.6rem;}
.page_title>.text_top{padding-bottom: 0.4rem;}
.page_title>.text_top>p{font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 2.4rem; color: #222;}
.page_title>.text_middle{}
.page_title>.text_middle>p{font-family: 'Pretendard'; font-weight: 400; font-size: 1.2rem; line-height: 1.6rem; color: #bdbdbd;}

.latte_main_img>img{width: 100%;}
.latte_content1_img{padding: 5.9rem 1.4rem 0 1.4rem;}
.latte_content1_img>img{width: 100%;}
.latte_content2_img{padding: 1.7rem 1.4rem 10.4rem 1.4rem;}
.latte_content2_img>img{width: 100%;}

.brand_pick{border-top: 1px solid #F5F5F5; padding: 4rem 1.6rem 0 1.6rem;}