#one_on_one_detail_page{background: #fff; width: 100%;}

#header_type2{position: relative; height: 5.6rem; width: 100%;}
#header_type2>div{height: 5.6rem; width: 100%;}
#header_type2>div>p{text-align: center; font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 5.6rem; color: #222;}
#header_type2>div>.header_ico_wrap{ width: 100%; position: absolute; top: 50%; transform: translateY(-50%); display: flex; justify-content: space-between;}
#header_type2>div>.header_ico_wrap>a{ display: inline-block; width: 2.4rem; height: 2.4rem;}
#header_type2>div>.header_ico_wrap>a.ico_left_arrow{background: url(../img/ic-arrow-left.png) no-repeat center; margin-left: 2rem;}
#header_type2>div>.header_ico_wrap>.header_ico{display: flex; float: right; margin-right: 2rem;}
#header_type2>div>.header_ico_wrap>.header_ico>a{display: block; width: 2.4rem; height: 2.4rem;}
#header_type2>div>.header_ico_wrap>.header_ico>a.ico_search{ background: url(../img/search_bk.png) no-repeat center;}
#header_type2>div>.header_ico_wrap>.header_ico>a.ico_shoppingbag{background: url(../img/shoppingbag_bk.png) no-repeat center; margin-left: 1.2rem;}

#answer_item_wrap{padding: 2rem 2rem; display: flex; border-bottom: 8px solid #f5f5f5;}
#answer_item_wrap>img{width: 6.4rem; height: 6.4rem;}
#answer_item_wrap>.answer_item{padding:0.8rem 0 0.8rem 1.6rem; overflow: hidden;}
#answer_item_wrap>.answer_item>.item_name{font-family: 'Pretendard'; font-weight: 500; font-size: 1.4rem; line-height: 2rem; color: #222; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
#answer_item_wrap>.answer_item>.order_num{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #969696; margin-top: 8px; }

.grey_middle_dot{display: inline-block; width: 4px; height: 4px; border-radius: 50%; background: #bdbdbd;}

.answer_list>ul>li{padding: 2rem 2rem 2.4rem 2rem;}
.answer_list>ul>li:not(:first-child){margin-top: 2.4rem;}
.answer_list>ul>li>.answer_list_top{display: flex; justify-content: space-between;}
.answer_list>ul>li>.answer_list_top>.answer_category_tag{ display: inline-flex; align-items: center; padding: 4px 8px; background: #f5f5f5; font-family: 'Pretendard'; font-weight: 400; font-size: 1.2rem; line-height: 1.6rem; color: #696969; }
.answer_list>ul>li>.answer_list_top>.answer_category_tag>span{}
.answer_list>ul>li>.answer_list_top>.answer_category_tag>span.first_tag{}
.answer_list>ul>li>.answer_list_top>.answer_category_tag>span.grey_middle_dot{margin: 0 6px;}
.answer_list>ul>li>.answer_list_top>.answer_category_tag>span.second_tag{}
.answer_list>ul>li>.answer_list_top>.answer_button{line-height: 2.4rem;}
.answer_list>ul>li>.answer_list_top>.answer_button>.answer_change{background: none; font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #969696; margin-right: 1.2rem;}
.answer_list>ul>li>.answer_list_top>.answer_button>.answer_delete{background: none; font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #969696;}
.answer_list>ul>li>.answer_list_middle{ margin-top: 6px;}
.answer_list>ul>li>.answer_list_middle>p{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #222;}
.answer_list>ul>li>.answer_list_middle>.img_attach{margin-top: 1.2rem;}
.answer_list>ul>li>.answer_list_middle>.img_attach>img{width: 7.2rem; height: 7.2rem;}
.answer_list>ul>li>.answer_list_middle>.img_attach>img:not(:first-child){margin-left: 1.2rem;}
.answer_list>ul>li>.answer_list_bottom{display: flex; margin-top: 1rem;}
.answer_list>ul>li>.answer_list_bottom>.answer_waiting_text{font-family: 'Pretendard'; font-weight: 600; font-size: 1.4rem; line-height: 2rem; color: #bdbdbd; padding: 0 8px 0 0;}
.answer_list>ul>li>.answer_list_bottom>.answer_complete_text{font-family: 'Pretendard'; font-weight: 600; font-size: 1.4rem; line-height: 2rem; color: #222; padding: 0 8px 0 0;}
.answer_list>ul>li>.answer_list_bottom>.answer_date{position: relative; font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #bdbdbd; padding: 0 0 0 8px;}
.answer_list>ul>li>.answer_list_bottom>.answer_date::before{content: ""; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 1px; height: 12px; background: #e2e2e2;}

#operator_answer_wrap{position: relative; padding: 1.6rem 2rem 4rem 4.2rem;}
#operator_answer_wrap>.arrow_box{position: absolute; top: 4px; left: 2.2rem; width: 1.2rem; height: 2rem; border-left: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; box-sizing: border-box;}
#operator_answer_wrap>.operator_answer{background: #f5f5f5; padding: 1.6rem 1.6rem; border-radius: 4px;}
#operator_answer_wrap>.operator_answer>p{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #222;}
#operator_answer_wrap>.operator_answer>p.operator_answer_date{color: #969696; margin-top: 1.2rem;}