#header_type2{position: relative; height: 5.6rem; width: 100%; }
#header_type2>div{height: 5.6rem; width: 100%;}
#header_type2>div>p{text-align: center; font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 5.6rem; color: #222;}
#header_type2>div>.header_ico_wrap{ width: 100%; position: absolute; top: 50%; transform: translateY(-50%); /* display: flex; */ /* justify-content: space-between; */}
#header_type2>div>.header_ico_wrap>a{display: inline-block; width: 2.4rem; height: 2.4rem;}
#header_type2>div>.header_ico_wrap>a.ico_left_arrow{background: url(../img/ic-arrow-left.png) no-repeat center; margin-left: 2rem;}
#header_type2>div>.header_ico_wrap>.header_ico{display: flex; float: right; margin-right: 2rem;}
#header_type2>div>.header_ico_wrap>.header_ico>a{display: block; width: 2.4rem; height: 2.4rem;}
#header_type2>div>.header_ico_wrap>.header_ico>a.ico_search{background: url(../img/search_bk.png) no-repeat center;}
#header_type2>div>.header_ico_wrap>.header_ico>a.ico_alarm{ background: url(../img/alarm_bk.png) no-repeat center;}
#header_type2>div>.header_ico_wrap>.header_ico>a.ico_shoppingbag{background: url(../img/shoppingbag_bk.png) no-repeat center; margin-left: 1.2rem;}

.cancelTop{padding: 0 2rem;}
.cancelTop>span{display: block; padding: 1.6rem 0; font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #969696; border-bottom: 1px solid #f5f5f5;}

.itemThum{display: flex; gap: 1.6rem; padding: 2rem 2rem; align-items: center;}
.itemThum>img{width: 6.4rem; height: 6.4rem; border-radius: 4px;}
.itemThum>.itemThumText{width: calc(100% - 14.8rem); overflow: hidden;}
.itemThum>.itemThumText>.brandName{font-family: 'Pretendard'; font-weight: 700; font-size: 1.2rem; line-height: 1.6rem; color: #222; margin-bottom: 4px;}
.itemThum>.itemThumText>.itemName{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #222; margin-bottom: 4px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.itemThum>.itemThumText>.itemOpt{font-family: 'Pretendard'; font-weight: 400; line-height: 2rem; font-size: 1.4rem; color: #e2e2e2;}
.itemThum>.itemThumText>.itemOpt>span{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #969696;}
.itemThum>.itemThumText>.itemOpt>span.color{margin-right: 3px;}
.itemThum>.itemThumText>.itemOpt>span.size{margin-left: 3px;}

.cancelReasonWrap{padding: 2rem 2rem 2.8rem 2rem; border-bottom: 1.2rem solid #f5f5f5;}
.cancelReasonWrap>span{display: block; font-family: 'Pretendard'; font-weight: 500; font-size: 1.4rem; line-height: 2rem; color: #696969; margin-bottom: 8px;}
.cancelReasonWrap>.textfiledTitle{display: block; font-family: 'Pretendard'; font-weight: 500; font-size: 1.4rem; line-height: 2rem; color: #696969; margin-bottom: 8px; margin-top: 2rem;}

.selectBox_type{ box-sizing: border-box;width: 100%;}
.selectBox_type.on{}
.selectBox_type>button{display: flex; align-items: center;  width: 100%; background: #fff; font-family: 'Pretendard'; font-size: 1.6rem; color: #bdbdbd; padding: 1.1rem 1.6rem; border-radius: 4px; border: 1px solid #e2e2e2; background: url(../img/ic-arrow-down-24.png) no-repeat 98% center; line-height: 2.4rem;}
.selectBox_type>button.on{display: flex; align-items: center;  width: 100%; background: #fff; font-family: 'Pretendard'; font-size: 1.6rem; color: #bdbdbd; padding: 1.2rem 1.6rem; border-radius: 4px; border: 1px solid #e2e2e2; background: url(../img/ic-arrow-up-24.png) no-repeat 98% center;}

.selectBox_type>.optionItem_wrap{width: 100%; padding: 8px 0; background: #fff; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15); border-radius: 4px; display: none; margin-top: 4px;}
.selectBox_type>.optionItem_wrap.on{display: block;}
.selectBox_type>.optionItem_wrap>li{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #222; padding: 1.4rem 1.6rem;}

#textfiled{ margin-top: 1.6rem;}
#textfiled>textarea{height: 14.4rem; display: block;  border: 1px solid #e2e2e2; padding: 1.1rem 1.6rem; border-radius: 4px; box-sizing: border-box; width: 100%; color: #222; font-family: 'Pretendard'; font-size: 1.6rem; line-height: 2.4rem;}
#textfiled>textarea::placeholder{ font-family: 'Pretendard'; font-size: 1.6rem; color: #bdbdbd;}
#textfiled>span{display: block; text-align: right; margin-top: 8px; font-family: 'Pretendard'; font-weight: 400; font-size: 1.2rem; line-height: 1.6rem; color: #969696;}

.refundPrice{padding: 0 2rem; border-bottom: 1.2rem solid #f5f5f5;}
.refundPrice>.refundTitle{display: flex; justify-content: space-between; align-items: center; padding: 2rem 0;}
.refundPrice>.refundTitle>h3{font-family: 'Pretendard'; font-weight: 600; font-size: 1.8rem; line-height: 2.4rem; color: #222;}

.refundContent{}
.refundContent.on{display: none;}
.refundContent>.refundContentTop{border-bottom: 1px solid #e2e2e2;}
.refundContent>.refundContentTop>.allItemPrice{display: flex; justify-content: space-between; align-items: center; padding-bottom: 8px;}
.refundContent>.refundContentTop>.allItemPrice>.allItemPrice_l{ font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #969696;}
.refundContent>.refundContentTop>.allItemPrice>.allItemPrice_r{font-family: 'Pretendard'; font-weight: 600; font-size: 1.6rem; line-height: 2.4rem; color: #222;}
.refundContent>.refundContentTop>.shippingPay{display: flex; justify-content: space-between; align-items: center;  padding-bottom: 8px;}
.refundContent>.refundContentTop>.shippingPay>.shippingPay_l{ font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #969696;}
.refundContent>.refundContentTop>.shippingPay>.shippingPay_r{font-family: 'Pretendard'; font-weight: 600; font-size: 1.6rem; line-height: 2.4rem; color: #222;}
.refundContent>.refundContentTop>.couponSale{display: flex; justify-content: space-between; align-items: center;  padding-bottom: 8px;}
.refundContent>.refundContentTop>.couponSale>.couponSale_l{ font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #969696;}
.refundContent>.refundContentTop>.couponSale>.couponSale_r{font-family: 'Pretendard'; font-weight: 600; font-size: 1.6rem; line-height: 2.4rem; color: #222;}
.refundContent>.refundContentTop>.savingPoint{display: flex; justify-content: space-between; align-items: center; padding-bottom: 2rem;}
.refundContent>.refundContentTop>.savingPoint>.savingPoint_l{ font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #969696;}
.refundContent>.refundContentTop>.savingPoint>.savingPoint_r{font-family: 'Pretendard'; font-weight: 600; font-size: 1.6rem; line-height: 2.4rem; color: #222;}

.refundContent>.refundContentBottom{padding: 2rem 0 2.8rem 0;}
.refundContent>.refundContentBottom>.finalPrice{display: flex; justify-content: space-between;/*  align-items: center; */}
.refundContent>.refundContentBottom>.finalPrice>.finalPrice_l{font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 2.4rem; color: #222;}
.refundContent>.refundContentBottom>.finalPrice>.finalPrice_r{}
.refundContent>.refundContentBottom>.finalPrice>.finalPrice_r>span{display: block; text-align: right;}
.refundContent>.refundContentBottom>.finalPrice>.finalPrice_r>.finalPriceNum{font-family: 'Pretendard'; font-weight: 700; font-size: 1.8rem; line-height: 2.4rem; color: #e31616;}
.refundContent>.refundContentBottom>.finalPrice>.finalPrice_r>.finalSavingPoint{margin-top: 8px; font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #bdbdbd;}

.refundMethod{padding: 0 2rem; border-bottom: 1.2rem solid #f5f5f5;}
.refundMethod>.refundMethodTitle{display: flex; justify-content: space-between; align-items: center; padding: 2rem 0;}
.refundMethod>.refundMethodTitle>h3{font-family: 'Pretendard'; font-weight: 600; font-size: 1.8rem; line-height: 2.4rem; color: #222;}
.refundMethod>.refundMethodContent{display: flex; justify-content: space-between; padding: 2rem 0 2.8rem 0;}
.refundMethod>.refundMethodContent.on{display: flex; justify-content: space-between; padding: 2rem 0 2.8rem 0; display: none;}
.refundMethod>.refundMethodContent>.refundMethodContent_l{font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 2.4rem; color: #222;}
.refundMethod>.refundMethodContent>.refundMethodContent_r{}
.refundMethod>.refundMethodContent>.refundMethodContent_r>span{display: block; font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; text-align: right;}
.refundMethod>.refundMethodContent>.refundMethodContent_r>.refundMethodContent_r_t{color: #696969;}
.refundMethod>.refundMethodContent>.refundMethodContent_r>.refundMethodContent_r_b{color: #969696;}

.notice{}
.notice>.noticeTitle{padding: 1.4rem 2rem; display: flex; justify-content: space-between; align-items: center;}
.notice>.noticeTitle>.noticeTitle_l{display: flex; gap: 8px; align-items: center;}
.notice>.noticeTitle>.noticeTitle_l>p{font-family: 'Pretendard'; font-weight: 400; font-size: 1.6rem; line-height: 2.4rem; color: #222;}
.notice>.noticeGreyBox{width: 100%; box-sizing: border-box; padding: 2rem 2rem 2.8rem 2rem; background: #f5f5f5;}
.notice>.noticeGreyBox.on{display: none; width: 100%; box-sizing: border-box; padding: 2rem 2rem 2.8rem 2rem; background: #f5f5f5;}
.notice>.noticeGreyBox>p{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #969696;}
.notice>.noticeGreyBox>p:last-child{margin-top: 1.6rem;}

.bottom{padding: 2.4rem 2rem 6.8rem 2rem;}
.bottom>.bottomContainer{width: 100%;}
.bottom>.bottomContainer>button{width: 100%; text-align: center; padding: 1.4rem 0; font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 2.4rem; color: #696969; border-radius: 4px; background: #f5f5f5;}
.bottom>.bottomContainer>button.on{width: 100%; text-align: center; padding: 1.4rem 0; font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 2.4rem; color: #fff; border-radius: 4px; background: #222;}

span.ic_arrow{display: block; background: url(../img/ic-arrow-up-24.png) no-repeat center center; width: 2.4rem; height: 2.4rem;}
span.ic_arrow.on{display: block; background: url(../img/ic-arrow-down-24.png) no-repeat center center; width: 2.4rem; height: 2.4rem;}