#header_type2{position: relative; height: 5.6rem; width: 100%; }
#header_type2>div{height: 5.6rem; width: 100%;}
#header_type2>div>p{text-align: center; font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 5.6rem; color: #222;}
#header_type2>div>.header_ico_wrap{ width: 100%; position: absolute; top: 50%; transform: translateY(-50%); /* display: flex; */ /* justify-content: space-between; */}
#header_type2>div>.header_ico_wrap>a{display: inline-block; width: 2.4rem; height: 2.4rem;}
#header_type2>div>.header_ico_wrap>a.ico_left_arrow{background: url(../img/ic-arrow-left.png) no-repeat center; margin-left: 2rem;}
#header_type2>div>.header_ico_wrap>.header_ico{display: flex; float: right; margin-right: 2rem;}
#header_type2>div>.header_ico_wrap>.header_ico>a{display: block; width: 2.4rem; height: 2.4rem;}
#header_type2>div>.header_ico_wrap>.header_ico>a.ico_search{background: url(../img/search_bk.png) no-repeat center;}
#header_type2>div>.header_ico_wrap>.header_ico>a.ico_alarm{ background: url(../img/alarm_bk.png) no-repeat center;}
#header_type2>div>.header_ico_wrap>.header_ico>a.ico_shoppingbag{background: url(../img/shoppingbag_bk.png) no-repeat center; margin-left: 1.2rem;}

#orderItemWrap>.orderDetailTop{padding: 1.6rem 2rem; border-bottom: 1.2rem solid #f5f5f5;}
#orderItemWrap>.orderDetailTop>p{font-family: 'Pretendard'; font-weight: 700; font-size: 1.6rem; line-height: 2.4rem; color: #222;}
#orderItemWrap>.orderDetailTop>span{margin-top: 4px; font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #969696;}

#orderItemWrap{}
#orderItemWrap>ul{border-bottom: 1.2rem solid #f5f5f5;}
#orderItemWrap>ul>.orderItemTitle{padding: 2.4rem 2rem 1.6rem 2rem; font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 2.4rem; color: #222;}
#orderItemWrap>ul>li{}
#orderItemWrap>ul>li>a{padding: 2rem 2rem; display: flex; box-sizing: border-box;}
#orderItemWrap>ul>li>a>img{width: 8rem; height: 10.7rem;}
#orderItemWrap>ul>li>a>.itemText{margin-left: 1.6rem;  overflow: hidden;}
#orderItemWrap>ul>li>a>.itemText>.state{ font-family: 'Pretendard'; font-weight: 600; font-size: 1.4rem; line-height: 2rem; color: #222; margin-bottom: 8px;}
#orderItemWrap>ul>li.shipping>a>.itemText>.state{font-family: 'Pretendard'; font-weight: 600; font-size: 1.4rem; line-height: 2rem; color: #2e82ff; margin-bottom: 8px;}
#orderItemWrap>ul>li.confirm>a>.itemText>.state{font-family: 'Pretendard'; font-weight: 600; font-size: 1.4rem; line-height: 2rem; color: #969696; margin-bottom: 8px;}
#orderItemWrap>ul>li>a>.itemText>.state>span{position: relative; margin-left: 1.6rem; font-family: 'Pretendard'; font-weight: 500; font-size: 1.4rem; line-height: 2rem; color: #222;}
#orderItemWrap>ul>li.confirm>a>.itemText>.state>span{position: relative; margin-left: 1.6rem; font-family: 'Pretendard'; font-weight: 500; font-size: 1.4rem; line-height: 2rem; color: #969696;}
#orderItemWrap>ul>li>a>.itemText>.state>span::before{content: ""; position: absolute; top: 50%; left: -10px; transform: translateY(-50%); width: 4px; height: 4px; border-radius: 50%; background: #e2e2e2;}
#orderItemWrap>ul>li>a>.itemText>.brandItemName{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #969696; white-space: nowrap; overflow: hidden; box-sizing: border-box;  text-overflow: ellipsis; margin-bottom: 4px;}
#orderItemWrap>ul>li>a>.itemText>.brandItemName>.brandName{margin-right: 5px;}
#orderItemWrap>ul>li>a>.itemText>.itemOpt{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #969696; margin-bottom: 8px;}
#orderItemWrap>ul>li>a>.itemText>.itemOpt>.color{margin-right: 3px;}
#orderItemWrap>ul>li>a>.itemText>.itemOpt>.size{margin-left: 3px; margin-right: 3px;}
#orderItemWrap>ul>li>a>.itemText>.itemOpt>.count{margin-left: 3px;}
#orderItemWrap>ul>li>a>.itemText>.itemPrice{font-family: 'Pretendard'; font-weight: 700; font-size: 1.4rem; line-height: 2rem; color: #222;}
#orderItemWrap>ul>li>.btnWrap{padding: 0.8rem 2rem 0 2rem;}
#orderItemWrap>ul>li>.btnWrap>.greyBtn{margin-bottom: 1.2rem;}
#orderItemWrap>ul>li>.btnWrap>.greyBtn>a{position: relative; display: block; width: 100%; padding: 0.8rem 0; text-align: center; font-family: 'Pretendard'; font-weight: 500; font-size: 1.4rem; line-height: 2rem; color: #222; background: #f5f5f5; border-radius: 4px;}
#orderItemWrap>ul>li>.btnWrap>.greyBtn>a::after{content: ""; position: absolute; top: 50%; right: 8px; transform: translateY(-50%); background: url(../img/ic-arrow-right.png) no-repeat center; width: 2.4rem; height: 2.4rem;}
#orderItemWrap>ul>li>.btnWrap>.btnContainer{display: flex; gap: 1.6rem; padding-bottom: 2rem; border-bottom: 1px solid #f5f5f5;}
#orderItemWrap>ul>li>.btnWrap>.btnContainer>a{display: block; width: 50%; padding: 0.8rem 0; background: #fff; font-family: 'Pretendard'; font-weight: 500; font-size: 1.4rem; line-height: 2rem; color: #222; text-align: center; border: 1px solid #e2e2e2; border-radius: 4px;}
#orderItemWrap>ul>li.confirm>.btnWrap>.btnContainer>a{display: block; width: 100%; padding: 0.8rem 0; background: #fff; font-family: 'Pretendard'; font-weight: 500; font-size: 1.4rem; line-height: 2rem; color: #222; text-align: center; border: 1px solid #e2e2e2; border-radius: 4px;}
#orderItemWrap>ul>li>.tel{padding: 1.2rem 2rem 1.6rem 2rem; display: flex; align-items: center; justify-content: space-between;}
#orderItemWrap>ul>li>.tel>span{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #969696;}
#orderItemWrap>ul>li>.tel>a{font-family: 'Pretendard'; font-weight: 500; font-size: 1.4rem; line-height: 2rem; color: #696969;}

#info{}
#info>.orderUserInfo{padding: 2rem 2rem; border-bottom: 1px solid #f5f5f5;}
#info>.orderUserInfo>.orderUserInfoTop{display: flex; justify-content: space-between;}
#info>.orderUserInfo>.orderUserInfoTop>p{font-family: 'Pretendard'; font-weight: 600; font-size: 1.8rem; line-height: 2.4rem; color: #222;}
#info>.orderUserInfo>.orderUserInfoBottom{padding: 2rem 0 3.2rem 0;}
#info>.orderUserInfo>.orderUserInfoBottom>.orderUserName{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; display: flex; gap: 5.2rem;}
#info>.orderUserInfo>.orderUserInfoBottom>.orderUserName>.orderUserName_l{display: block; color: #969696; width: 5rem;}
#info>.orderUserInfo>.orderUserInfoBottom>.orderUserName>.orderUserName_r{color: #696969;}
#info>.orderUserInfo>.orderUserInfoBottom>.orderUserEmail{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; display: flex; gap: 5.2rem; margin-top: 1.2rem;}
#info>.orderUserInfo>.orderUserInfoBottom>.orderUserEmail>.orderUserEmail_l{display: block; color: #969696; width: 5rem;}
#info>.orderUserInfo>.orderUserInfoBottom>.orderUserEmail>.orderUserEmail_r{color: #696969;}
#info>.orderUserInfo>.orderUserInfoBottom>.orderUserPhone{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; display: flex; gap: 5.2rem; margin-top: 1.2rem;}
#info>.orderUserInfo>.orderUserInfoBottom>.orderUserPhone>.orderUserPhone_l{display: block; color: #969696; width: 5rem;}
#info>.orderUserInfo>.orderUserInfoBottom>.orderUserPhone>.orderUserPhone_r{color: #696969;}

#info>.payInfo{padding: 2rem 2rem 2.4rem 2rem; border-bottom: 1px solid #f5f5f5;}
#info>.payInfo>.payInfoTop{display: flex; justify-content: space-between;}
#info>.payInfo>.payInfoTop>p{font-family: 'Pretendard'; font-weight: 600; font-size: 1.8rem; line-height: 2.4rem; color: #222;}
#info>.payInfo>.payInfoBottom{padding: 2rem 0 1.6rem 0; border-bottom: 1px solid #e2e2e2;}
#info>.payInfo>.payInfoBottom>.payMethod{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem;display: flex; justify-content: space-between; margin-bottom: 1.2rem;}
#info>.payInfo>.payInfoBottom>.payMethod>.payMethod_l{display: block; width: 6.5rem; color: #969696;}
#info>.payInfo>.payInfoBottom>.payMethod>.payMethod_r{color: #696969;}
#info>.payInfo>.payInfoBottom>.itemPrice{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; display: flex; justify-content: space-between; margin-bottom: 1.2rem;}
#info>.payInfo>.payInfoBottom>.itemPrice>.itemPrice_l{display: block; width: 6.5rem; color: #969696;}
#info>.payInfo>.payInfoBottom>.itemPrice>.itemPrice_r{color: #696969;}
#info>.payInfo>.payInfoBottom>.couponSale{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; display: flex; justify-content: space-between; margin-bottom: 1.2rem;}
#info>.payInfo>.payInfoBottom>.couponSale>.couponSale_l{display: block; width: 6.5rem; color: #969696;}
#info>.payInfo>.payInfoBottom>.couponSale>.couponSale_r{color: #696969;}
#info>.payInfo>.payInfoBottom>.pointSale{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; display: flex; justify-content: space-between; margin-bottom: 1.2rem;}
#info>.payInfo>.payInfoBottom>.pointSale>.pointSale_l{display: block; width: 6.5rem; color: #969696;}
#info>.payInfo>.payInfoBottom>.pointSale>.pointSale_r{color: #696969;}
#info>.payInfo>.payInfoBottom>.shippingFee{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; display: flex; justify-content: space-between;}
#info>.payInfo>.payInfoBottom>.shippingFee>.shippingFee_l{display: block; width: 6.5rem; color: #969696;}
#info>.payInfo>.payInfoBottom>.shippingFee>.shippingFee_r{color: #696969;}

#info>.payInfo>.finalPayPriceWrap{}
#info>.payInfo>.finalPayPriceWrap>.finalPayPrice{padding: 2rem 0 0.8rem 0; display: flex; justify-content: space-between;}
#info>.payInfo>.finalPayPriceWrap>.finalPayPrice>.finalPayPrice_l{font-family: 'Pretendard'; font-weight: 600; font-size: 1.6rem; line-height: 2.4rem; color: #222;}
#info>.payInfo>.finalPayPriceWrap>.finalPayPrice>.finalPayPrice_r{font-family: 'Pretendard'; font-weight: 600; font-size: 1.6rem; line-height: 2.4rem; color: #E31616;}
#info>.payInfo>.finalPayPriceWrap>.savingPoint{text-align: right; font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #bdbdbd;}

#info>.shippingInfo{padding: 2rem 2rem 0 2rem; border-bottom: 1px solid #f5f5f5;}
#info>.shippingInfo>.shippingInfoTop{display: flex; justify-content: space-between;}
#info>.shippingInfo>.shippingInfoTop>p{font-family: 'Pretendard'; font-weight: 600; font-size: 1.8rem; line-height: 2.4rem; color: #222;}
#info>.shippingInfo>.shippingInfoText{padding: 2rem 0 3.2rem 0;}
#info>.shippingInfo>.shippingInfoText>.recipientName{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; display: flex; gap: 5.2rem; margin-bottom: 1.2rem;}
#info>.shippingInfo>.shippingInfoText>.recipientName>.recipientName_l{display: block; color: #969696; width: 5rem;}
#info>.shippingInfo>.shippingInfoText>.recipientName>.recipientName_r{color: #696969;}
#info>.shippingInfo>.shippingInfoText>.recipientPhone{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; display: flex; gap: 5.2rem; margin-bottom: 1.2rem;}
#info>.shippingInfo>.shippingInfoText>.recipientPhone>.recipientPhone_l{display: block; color: #969696; width: 5rem;}
#info>.shippingInfo>.shippingInfoText>.recipientPhone>.recipientPhone_r{color: #696969;}
#info>.shippingInfo>.shippingInfoText>.recipientAddress{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; display: flex; gap: 5.2rem;}
#info>.shippingInfo>.shippingInfoText>.recipientAddress>.recipientAddress_l{display: block; color: #969696; width: 5rem;}
#info>.shippingInfo>.shippingInfoText>.recipientAddress>.recipientAddress_r{color: #696969; width: calc(100% - 10.2rem);}

.orderListDelete{padding: 4rem 2rem 4.8rem 2rem;}
.orderListDelete>.delete{width: 100%; background: #fff;}
.orderListDelete>.delete>button{width: 100%; padding: 1.1rem 0; border: 1px solid #e2e2e2; border-radius: 4px; font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 2.4rem; text-align: center; color: #222; background: #fff;}