li{word-break: keep-all;}

#quick-ic_page{background: #fff; width: 100%; height: 100%;}
#quick-ic_page>div{}

#header_type2{position: relative; height: 5.6rem; width: 100%;}
#header_type2>div{height: 5.6rem; width: 100%;}
#header_type2>div>.main_category_dropdown{position: absolute; top: 50%; left: 55%; transform: translate(-50%,-50%); z-index: 500;}
#header_type2>div>.header_ico_wrap{ width: 100%; position: absolute; top: 50%; transform: translateY(-50%); display: flex; justify-content: space-between;}
#header_type2>div>.header_ico_wrap>a{display: inline-block; width: 2.4rem; height: 2.4rem;}
#header_type2>div>.header_ico_wrap>a.ico_left_arrow{background: url(../img/ic-arrow-left.png) no-repeat center; margin-left: 2rem;}
#header_type2>div>.header_ico_wrap>.header_ico{display: flex; float: right; margin-right: 2rem;}
#header_type2>div>.header_ico_wrap>.header_ico>a{display: block; width: 2.4rem; height: 2.4rem;}
#header_type2>div>.header_ico_wrap>.header_ico>a.ico_search{ background: url(../img/search_bk.png) no-repeat center;}
#header_type2>div>.header_ico_wrap>.header_ico>a.ico_shoppingbag{background: url(../img/shoppingbag_bk.png) no-repeat center; margin-left: 1.2rem;}

select {
    width: 5.2rem;
    /* display: inline-block; */
    appearance: none;
    font-family: 'Pretendard';
    font-size: 1.6rem;
    font-weight: 500;
    color: #222;
    /* text-align: right; */
    background: url('../img/ic-down-arrow.png') no-repeat  100% center;
    
  }

select:focus{
    outline: none;
}

select option{
    width: 30px;
    background: none;
    /* text-align: center; */
}


#man_tab{display: none;}
