html,body{position: relative; height: 100%;}



#headerType2{position: relative; height: 5.6rem; width: 100%; }
#headerType2>div{height: 5.6rem; width: 100%;}
#headerType2>div>p{text-align: center; font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 5.6rem; color: #222;}
#headerType2>div>.headerIcoWrap{ width: 100%; position: absolute; top: 50%; transform: translateY(-50%); /* display: flex; */ /* justify-content: space-between; */}
#headerType2>div>.headerIcoWrap>a{display: inline-block; width: 2.4rem; height: 2.4rem;}
#headerType2>div>.headerIcoWrap>a.icoLeftArrow{background: url(../img/ic-arrow-left.png) no-repeat center; margin-left: 2rem;}
#headerType2>div>.headerIcoWrap>.headerIco{display: flex; float: right; margin-right: 2rem;}
#headerType2>div>.headerIcoWrap>.headerIco>a{display: block; width: 2.4rem; height: 2.4rem;}
#headerType2>div>.headerIcoWrap>.headerIco>a.icoSearch{ background: url(../img/search_bk.png) no-repeat center;}
#headerType2>div>.headerIcoWrap>.headerIco>a.icoShoppingbag{background: url(../img/shoppingbag_bk.png) no-repeat center; margin-left: 1.2rem;}

#noItem{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); text-align: center;}
#noItem>p{ font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #969696; white-space: nowrap;}
#noItem>a{display: inline-block; font-family: 'Pretendard'; font-weight: 500; font-size: 1.4rem; line-height: 2rem; text-align: center; color: #222; padding: 0.8rem 1.6rem; border: 1px solid #e2e2e2; border-radius: 4px; margin-top: 2.4rem;}
#itemGroup{padding:0 2rem; margin-top: 1.6rem;}
#item{}
#item:not(:first-child){}
#itemGroup>button{background: none; float: right;}
#itemGroup>button>p{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #969696;}
.itemListWrap{padding-top: 3.2rem;}
.itemListWrap>p{font-family: 'Pretendard'; font-weight: 400; font-size: 1.2rem; line-height: 1.6rem; color: #696969;}
.itemListWrap>ul{width: 100%;}
.itemListWrap>ul>li{position: relative; overflow: hidden;}
.itemListWrap>ul>li:first-child{margin-top: 1.2rem;}
.itemListWrap>ul>li:not(:first-child){margin-top: 2rem;}
.itemListWrap>ul>li>.itemList{display: flex; width: 100%;}
.itemListWrap>ul>li>.itemList>.itemImg{width: 28.125%; position: relative; background: #e2e2e2;}
.itemListWrap>ul>li>.itemList>.itemImg>a{display: block; width: 100%;}
.itemListWrap>ul>li>.itemList>.itemImg>a>img{width: 100%; position: absolute; top: 50%; transform: translateY(-50%);}
.itemListWrap>ul>li>.itemList>.itemImg>.itemLike{position: absolute; z-index: 112; top: 8px; right: 7px;}
.itemListWrap>ul>li>.itemList>.itemImg>.itemLike>button{background: none;}
.itemListWrap>ul>li>.itemList>.itemImg>.itemLike>button>img{display: block; width: 100%; }
.itemListWrap>ul>li>.itemList>.itemListText{width: 71.875%; position: relative;}
.itemListWrap>ul>li>.itemList>.itemListText>a{display: block;  }
.itemListWrap>ul>li>.itemList>.itemListText>.itemClose{position: absolute; top: 2px; right: 2px;}
.itemListWrap>ul>li>.itemList>.itemListText>.itemClose>button{background: none;}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer{padding:1.2rem 3rem 1.1rem 1.2rem;}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.itemBrand{}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.itemBrand>p{font-family: 'Montserrat'; font-weight: 600; font-size: 1.2rem; line-height: 1.5rem; color: #222;}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.itemName{padding-top: 0.4rem;}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.itemName>p{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #222; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.itemPrice{display: flex; padding-top: 0.8rem;}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.itemPrice>.salePrice{display: flex; align-items: center;}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.itemPrice>.salePrice>.percent{}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.itemPrice>.salePrice>.percent>p{font-family: 'Pretendard'; font-weight: 600; font-size: 1.4rem; line-height: 2rem; color: #e31616;}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.itemPrice>.salePrice>.percent>p>span{font-weight: 400; font-size: 1.2rem; line-height: 1.6rem;}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.itemPrice>.salePrice>.price{margin-left: 0.4rem;}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.itemPrice>.salePrice>.price>p{font-family: 'Pretendard'; font-weight: 600; font-size: 1.4rem; line-height: 2rem; color: #222;}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.itemPrice>.noSalePrice{margin-left: 0.6rem;}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.itemPrice>.noSalePrice>p{font-family: 'Pretendard'; font-weight: 400; font-size: 1.2rem; line-height: 2rem; color: #bdbdbd; text-decoration-line: line-through;}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.coupon{padding-top: 1rem;}
.itemListWrap>ul>li>.itemList>.itemListText>a>.itemListTextContainer>.coupon>p{display: inline-block; font-family: 'Pretendard'; font-weight: 400; font-size: 1.2rem; line-height: 1.2rem; color: #222; padding: 0.4rem 0.8rem; background: #f5f5f5; border-radius: 2px;}