/* 서치페이지 */
/* body{overflow: hidden;} */
li,p{word-break: keep-all;}

#searchPage{width: 100%; height: 100%; background: #fff;}
#searchPage>.searchPageHeader{gap: 1.6rem; display: flex;padding: 0.8rem 2.4rem; height: 5.6rem;  align-items: center;}
#searchPage>.searchPageHeader>label{display: block; position: relative; width: 100%;}
#searchPage>.searchPageHeader>label>input{width: 100%;  background: #f5f5f5; padding: 1rem 4.5rem 1rem 1.6rem; border-radius: 4px; font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; box-sizing: border-box;}
#searchPage>.searchPageHeader>label>input:focus{border-color: #bdbdbd;}
#searchPage>.searchPageHeader>label>input::placeholder{color: #bdbdbd; font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem;}
#searchPage>.searchPageHeader>label>button{background: none; display: none; position: absolute; top: 50%; right: 1.6rem; transform: translateY(-50%);}
#searchPage>.searchPageContent>.recentSearch{}
#searchPage>.searchPageContent>.recentSearch>.recentSearchHeader{display: flex; justify-content: space-between; padding: 2rem 2rem 0.8rem 2rem;}
#searchPage>.searchPageContent>.recentSearch>.recentSearchHeader>h3{font-family: 'Pretendard'; font-weight: 600; font-size: 1.8rem; line-height: 2.4rem;}
#searchPage>.searchPageContent>.recentSearch>.recentSearchHeader>button{background: none; font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #969696;}
#searchPage>.searchPageContent>.recentSearch>.recentSearchContent{padding: 1.2rem 2.4rem 5.6rem 2.4rem;}
#searchPage>.searchPageContent>.recentSearch>.recentSearchContent>.noSearch>p{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #bdbdbd;}
#searchPage>.searchPageContent>.recentSearch>.recentSearchContent>.yesSearch{}
#searchPage>.searchPageContent>.recentSearch>.recentSearchContent>.yesSearch>ul{display: flex; gap: 8px; overflow-x: scroll;}
#searchPage>.searchPageContent>.recentSearch>.recentSearchContent>.yesSearch>ul::-webkit-scrollbar{display: none;}
#searchPage>.searchPageContent>.recentSearch>.recentSearchContent>.yesSearch>ul>li{display: flex; gap: 4px; align-items: center; padding: 0.4rem 0.6rem 0.4rem 1.2rem; background: #f5f5f5; border-radius: 2rem; }
#searchPage>.searchPageContent>.recentSearch>.recentSearchContent>.yesSearch>ul>li>p{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #222; white-space: nowrap;}
#searchPage>.searchPageContent>.recentSearch>.recentSearchContent>.yesSearch>ul>li>button{background: none;}
#searchPage>.searchPageContent>.hotSearch{}
#searchPage>.searchPageContent>.hotSearch>.hotSearchHeader{display: flex;  padding: 2.1rem 2rem 1.2rem 2rem;}
#searchPage>.searchPageContent>.hotSearch>.hotSearchHeader>h3{font-family: 'Pretendard'; font-weight: 600; font-size: 1.8rem; line-height: 2.4rem;}
#searchPage>.searchPageContent>.hotSearch>.hotSearchHeader>.update{font-family: 'Pretendard'; font-weight: 400; font-size: 1.2rem; line-height: 2.4rem; color: #bdbdbd; margin-left: 1.2rem;}
#searchPage>.searchPageContent>.hotSearch>.hotSearchContent{padding: 0 2.4rem; display: flex;}
#searchPage>.searchPageContent>.hotSearch>.hotSearchContent>ul{}
#searchPage>.searchPageContent>.hotSearch>.hotSearchContent>ul.rightLine{margin-left: 3.2rem;}
#searchPage>.searchPageContent>.hotSearch>.hotSearchContent>ul>li{display: flex; width: 14rem; }
#searchPage>.searchPageContent>.hotSearch>.hotSearchContent>ul>li:nth-child(2n){/* margin-left: 3.2rem; */}
#searchPage>.searchPageContent>.hotSearch>.hotSearchContent>ul>li:nth-child(n+2){margin-top: 2rem;}
#searchPage>.searchPageContent>.hotSearch>.hotSearchContent>ul>li>.lankNumber{width: 1.6rem;}
#searchPage>.searchPageContent>.hotSearch>.hotSearchContent>ul>li>.lankNumber>p{width: 1.6rem; font-family: 'Pretendard'; font-weight: 500; font-size: 1.4rem; line-height: 2rem; color: #222;}
#searchPage>.searchPageContent>.hotSearch>.hotSearchContent>ul>li>.brandName{width: 10.6rem; margin-left: 0.6rem;}
#searchPage>.searchPageContent>.hotSearch>.hotSearchContent>ul>li>.brandName>p{width: 10.6rem; font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #222; overflow: hidden;}
#searchPage>.searchPageContent>.hotSearch>.hotSearchContent>ul>li>.changeLank{width: 1.8rem; position: relative;}
#searchPage>.searchPageContent>.hotSearch>.hotSearchContent>ul>li>.changeLank>img{position: absolute; top: 50%; right: 0; transform: translateY(-50%);}
.upLank{background: url(../img/up_lank.png) no-repeat center;}
.downLank{background: url(../img/down_lank.png) no-repeat center;}
.sameLank{background: url(../img/same_lank.png) no-repeat center;}

.searchAreaClickPop{}
.searchAreaClickPop>ul{padding: 1.6rem 0;}
.searchAreaClickPop>ul>.brand{padding: 0.8rem 2rem;}
.searchAreaClickPop>ul>.brand>a{display: flex; align-items: center; justify-content: space-between;}
.searchAreaClickPop>ul>.brand>a>.brandInfo{display: flex; align-items: center; gap: 1.2rem;}
.searchAreaClickPop>ul>.brand>a>.brandInfo>.brandImg{ width: 3.6rem; height: 3.6rem; border-radius: 50%;}
.searchAreaClickPop>ul>.brand>a>.brandInfo>.brandImg>img{width: 100%; border-radius: 50%;}
.searchAreaClickPop>ul>.brand>a>.brandInfo>.brandName{display: flex; flex-direction: column;}
.searchAreaClickPop>ul>.brand>a>.brandInfo>.brandName>.en{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #222;}
.searchAreaClickPop>ul>.brand>a>.brandInfo>.brandName>.ko{font-family: 'Pretendard'; font-weight: 400; font-size: 1.2rem; line-height: 1.6rem; color: #969696;}
.searchAreaClickPop>ul>.brand>a>p{font-family: 'Pretendard'; font-weight: 400; font-size: 1.2rem; line-height: 1.6rem; color: #bdbdbd;}

.searchAreaClickPop>ul>.textList{padding: 1.6rem 2.8rem; display: flex; align-items: center; gap: 2rem;}
.searchAreaClickPop>ul>.textList>button{background: none; width: 2rem; height: 2rem;}
.searchAreaClickPop>ul>.textList>button>img{width: 100%;}
.searchAreaClickPop>ul>.textList>.relatedText{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #222;}